- @title = " | Contact"
- @subtitle = ""
- @body_class = "five"

%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


#five.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-5.jpg"}



.body
  .center
    .content
      #five.sidebar.left
        .text
          %h1 Contact Us
          %p 
            %sub TOLL FREE
            %br
            1-800-838-6953
          %p 
            %sub HOUSTON METRO
            %br
            832-767-1103
          %p  
            %sub EMAIL
            %br
            %a{:href => "mailto:info@qualitysprinter.com"}info@qualitysprinter.com
          %p
            %sub ADDRESS
            %br
            4124 Dayco Street Suite C
            %br
            Houston, TX 77092
          

      #five.main
        .content
          %a{:name => "anchor1"}
          .section.no-image
            %h1 We Want to Hear from YOU
            %p.contact-form
              %iframe.contact{:allowtransparency => "true", :frameborder => "0", :height => "415", :scrolling => "no", :src => "http://media3creative.wufoo.com/embed/s7p1q1/", :width => "100%", :border => "none"}       
