- @title = " | Service"
- @subtitle = ""
- @body_class = "three"

- @sub0 = ["Service", "/service"]
- @sub1 = ["Services We Provide", "#services"]
- @sub2 = ["Lorem Ipsum", "#li"]
- @sub3 = ["Dolor Sit Amet", "dsa"]

%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


#three.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-3.jpg"}




.body
  .center
    .content
      #three.sidebar.right
        .button
          %h1 Order Today
          %h3 TOLL FREE: 1-800-838-6194
          %p.link
            %a{:href => "/contact"} Contact Us
          %h3 Place an order online:
          %p.link
            %a{:href => "http://www.shopify.com/quality-sprinter"} Online Catalog
      

      #three.main
        .content
          %a{:name => @sub1[1]}
          .section.no-image
            %h1=@sub1[0]
            %h2 Large, In-Stock Inventory
            %p We stock over about everything you can think about for a Sprinter vehicle. Many items are stocked in depth, in quantities more than sufficient for you to complete your job or fill your order.  If you don't find it on-line call us at 1-800-838-6194.

            %h2 Installation Service
            %p We offer installation and technical services by our experienced technicians.

            %h2 Experienced Telephone Sales Staff
            %p Real people answer the phone when you call, not a computer. Our telephone sales staff is made up of experienced Sprinter sales personnel. We will quickly and efficiently quote prices, suggest product solutions and service your needs. 

            %h2 Special Orders
            %p If we don't carry it we will gladly find it for you and quote you a firm price and estimated time of delivery. If we can't get it for you at a reasonable price or within your time requirements, we'll tell you that too.  

            %h2 We Deliver
            %p We can deliver your order locally, ship it via UPS or palletize if for common carrier shipping. Every order is unique, so call us at 1-800-838-6194, fax us at ?, or e-mail us at sales@QualitySprinter.com.  Please click here to see our shipping and delivery policy. 

            %h2 Will Call Service
            %p
              Place your orders in advance and we will have it picked and ready to go when you arrive. To place an order for will-call pickup:
              %br
              &mdash;	Call us at 1-800-838-6194 (toll free) or 832-767-1103 (Houston Metro) 8 to 5, Monday thru Friday, CST 
              %br
              &mdash;	E-mail us at
              %a{:href => "mailto:sales@QualitySprinter.com"}sales@QualitySprinter.com.

            %h2 On-line Catalog
            %p
              Our
              %a{:href => "http://www.shopify.com/quality-sprinter/"}on-line catalog
              lists some of the products we carry in our physical store. If you don't see what you are looking for, please give us a call at 1-800-838-6194.
            
        
          .spacer