- @title = " | Home"
- @subtitle = ""
- @body_class = "one"

- @shopify = ["ssss", "http://quality-sprinter.myshopify.com"]


%link{:href => "stylesheets/body-1.css", :media => "all", :rel => "stylesheet", :type => "text/css"}

#phone
  .center
    .phone-box
      %p 1-800-838-6953
      %img{:src => "/images/phone.png"}


#one.image-slider
  .center
    #slider-wrapper
      #slider.nivoSlider
        %img{:alt => "", :src => "/images/nivo/banner-1-0.jpg"}/
      #caption1.nivo-html-caption
        %h1 High quality service. Factory-trained staff.
        %h3 Our expertly-trained technicians have years of experience and we are ready to service your Sprinter. 
        %p.slider-link
          = link_to "Learn More", "/about"

.body
  .center
    .content
      #one.left
        %a.container{:href => "/service"}
          %h1 Quality Service, Competitive Pricing
          %h3 15% Off all Preventative Maintenance Services (including oil changes, transmission fluid changes, and more)
          %p.link Our Services >
      #one.middle
        %a.container{:href => @shopify[1]}
          %h1 Nation-wide Shipping
          %h3 Orders are processed and shipped within 24 hours, anywhere in the US
          %p.link Shop Now >
      #one.right
        %a.container{:href => "/about"}
          %h1 Our New Look
          %h3 We're still the same great company, but now boast a new look and improved website 
          %p.link About Us >