- @title = " | Home"
- @subtitle = ""
- @body_class = "one"

%link{:href => "stylesheets/body-1.css", :media => "all", :rel => "stylesheet", :type => "text/css"}

#one.image-slider
  .center
    #slider-wrapper
      #slider.nivoSlider
        %img{:alt => "", :src => "/images/nivo/banner-1-1.jpg", :title => "#caption1"}/
      #caption1.nivo-html-caption
        %h1 High quality service. Factory-trained staff.
        %h3 Lorem ipsum sit dolor amett, consectetur adipisicing elit, sed do eiusmod tempor incididunt. 
        %h3 Ut labore et dolore magna aliqua.
        %p.slider-link
          = link_to "Learn More", "/about"

.body
  .center
    .content
      #one.left
        %a.container{:href => "/products"}
          %h1 Quality Service, Competitive Pricing
          %h3 Lorem ipsum sit dolor amet
          %p.link Discover Our Services >
      #one.middle
        %a.container{:href => "/about"}
          %h1 Nation-wide Shipping
          %h3 Lorem ipsum sit dolor amet, soi wefobuerg bje ub aelkjbr
          %p.link Find Your Part >
      #one.right
        %a.container{:href => "/services"}
          %h1 15% OFF
          %h3 All Preventative Maintenance Services (including oil changes, transmission fluid changes, and more)
          %p.link Details >