- @title = " | Parts"
- @subtitle = ""
- @body_class = "two"

- @shopify = ["ssss", "http://www.shopify.com/quality-sprinter"]
- @sub0 = ["Parts", "/parts"]
- @sub1 = ["Other Parts", "#parts"]
- @sub2 = ["Engines", "#engines"]
- @sub3 = ["Transmissions", "#trans"]

%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


#two.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-2.jpg"}




.body
  .center
    .content
      #two.sidebar.right
        .button
          %h1 Order Today
          %h3 TOLL FREE: 1-800-838-6194
          %p.link
            %a{:href => "/contact"} Contact Us
          %h3 Place an order online:
          %p.link
            %a{:href => "http://quality-sprinter.myshopify.com/"} Online Catalog
      

      #two.main
        .content
          %a{:name => @sub2[1]}
          .section.no-image
            %h1=@sub2[0]
            %p Our re-manufactured engines are disassembled by a team of technicians. Each engine that we re-manufacture comes with a new set of pistons, pistons rings and rod bearings. The block is bored or honed, which ever is needed. The crank is polished and miked and given a new set of bearings. Lastly, the head is cleaned up and fitted with a brand new set of valves and valve seals. All parts are fully inspected before being reassembled here at our location. Each engine that we sell is backed by our 1 year, 50,000 mile warranty. 
            %p
              %a{:href => @shopify[1]+@sub2[1]}="Shop "+@sub2[0]+" >"
                  
          %a{:name => @sub3[1]}
          .section.no-image
            %h1=@sub3[0]
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            %p
              %a{:href => @shopify[1]+@sub3[1]}="Shop "+@sub3[0]+" >"

          %a{:name => @sub1[1]}
          .section.no-image
            %h1=@sub1[0]
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          .spacer