- @title = " | About Us"
- @subtitle = ""
- @body_class = "four"

- @sub0 = ["About", "/about"]
- @sub1 = ["ssss", "#ssss"]
- @sub2 = ["ssss", "#ssss"]
- @sub3 = ["ssss", "ssss"]

%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


#four.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-4.jpg"}



.body
  .center
    .content
      #four.sidebar.right
        .button
          %h1 Order Today
          %h3 TOLL FREE: 1-800-838-6953
          %p.link
            %a{:href => "/contact"} Contact Us
          %h3 Place an order online:
          %p.link
            %a{:href => "http://www.shopify.com/quality-sprinter"} Online Catalog
      

      #four.main
        .content
          .section.no-image
            %h1 Dodge, Freightliner, Mercedes Sprinter Van Parts
            %p
              &mdash;	One stop resource for virtually any New Sprinter Parts, plus Remanufactured Engines, Transmissions, Rear-Ends, and gently used parts.
              %br
              &mdash;	All parts are shipped within 24 hours of ordering, ensuring quick delivery and fast repair of your Sprinter.
              %br
              &mdash;	Comprehensive selection of Engines, Transmissions, Rear Ends and other parts for all Sprinter versions and models.
              %br
              &mdash;	We have ASE certified technicians to provide the best in affordable Quality Service from our Houston, TX location.

          .section.no-image
            %p When you need replacement parts for your Sprinter, there is only one place for affordable Quality parts with fast service:  QualitySprinter.com.  Small business owners who rely on their Sprinter service vehicles need fast turnaround service. With our extensive inventory, we are ready to ship as soon as your order arrives.  When you need Sprinter parts, QualitySprinter.com is committed to getting your order out within 24 hours so that you can keep your business running smoothly.
            %p Because of the Sprinter's reputation, owners and drivers of the vehicle put it to the test.  QualitySprinter.com is ready to ship your needed parts from Turbochargers, EGRs, Body Parts, Engines, Engine Parts to maintenance items and kits.   At these affordable prices, you may want to buy several if you have multiple vehicles requiring service.
            %p Purchasing is easy and secure through QualitySprinter.com.  Or if you'd prefer, you can call us at      1-800-838-6953 or fax us your order at 1-800-836-5358.  Either way, we'll ship it in 24 hours.


            
