- @title = " | Legal"
- @subtitle = ""
- @body_class = "none"

- @sub0 = ["Legal", "/legal"]
- @sub1 = ["Warranty", "#warranty"]
- @sub2 = ["Shipping & Delivery", "#shipping"]
- @sub3 = ["Disclaimer", "#disclaimer"]

%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
%script{:src => "javascripts/expandCollapse.js", :type => "text/javascript"}


#none.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-5.jpg"}




.body
  .center
    .content
      #none.sidebar.right
        .subnav
          %h1=@sub0[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub1[1]}
                =@sub1[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub2[1]}
                =@sub2[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub3[1]}
                =@sub3[0]
      

      #none.main
        .content
          %a{:name => @sub1[1]}
          .section.no-image
            %h1=@sub1[0]
            %p 
              View or download our
              %a{:href => "/images/warranty.pdf"} Warranty PDF
              here.

          .spacer
          
          %a{:name => @sub2[1]}
          .section.no-image
            %h1=@sub2[0]
            %p
              %sup Last updated 10/10/11
            %p Because we operate a physical store as well as an Internet store we differentiate between Package Shipping (made via United Parcel Service), Large and Heavy Items (shipped via common carrier) and Local Delivery (made with Quality Sprinter trucks and drivers.) 
            %p 
              %b Our goals for all shipments or deliveries are:
              %br
              1.	To welcome pre-purchase questions and respond promptly to them. Please contact us if we have not been clear, if you're not sure of something or if you just need additional information to help you make a purchase decision.  
              %br
              2.	To ship the correct product to the correct address promptly.
              %br
              3.	To have your products arrive undamaged and in first-class condition
              %br
              4.	To be helpful with any post-purchase questions, issues or reorders 
              %br
              5.	To extend our store to your home or business through the thoughtful application of modern information technology.
            
            %h2 Package Shipping (UPS) Policy
            #hide1{:style => "display:none"}
              %p We use package shipping for shipping to addresses greater than six (6) miles from our store, as determined by the distance calculated by Google Maps. We normally use United Parcel Service (UPS), but can use Federal Express (FedEx), too, upon request. 


              %h2 Package Shipping Guidelines:
              %p
                %b Billing:
                We bill your credit card at time of shipment, not when we receive the order
              %p
                %b Shipping Address:
                We can only ship to a physical shipping address. UPS will not ship to a PO Box
              %p
                %b International Orders:
                We do not accept international orders for package shipping. 
              %p
                %b Prompt Attention:
                Our sales staff receives Internet orders as soon they are placed, and fulfillment normally begins within minutes. If you have any concerns or special requests please contact us. The Internet sales department is open Monday through Friday from 8:00 AM until 5:00 PM CST. 
              %p
                %b Fulfillment:
                We display what we believe to be our actual quantity on-hand on our web site, along with a date and time stamp for relevancy. We devote a lot of time and effort to maintaining an accurate inventory, but errors and omissions occur. For that reason, please note:
                %br
                &mdash; If an item shows "0" quantity on hand you may still order it, but you should expect a     shipping delay while we restock it. We will not contact you, as the stocking information has already been provided.
                %br
                &mdash; In some instances we indicate up front that an item is not in stock and give an estimated shipping delay. These are our best faith estimates, but they are estimates and may not be accurate. Feel free to contact us before ordering so that we can provide a current estimated shipping time.
                %br
                &mdash; We do operate a physical store, so it may occur that we had the product in stock when you ordered it, but it has been sold before it was picked for shipment. All orders are subject to prior sale, but in this instance we will notify you before processing the order. You can also contact us before placing the order to request we physically verify the stock status and pre-pick the item. This will insure your order can be filled once you place it. We're happy to do this.
              %p
                %b Shipping:
                %br
                &mdash; We normally hold all orders for shipping complete unless instructed otherwise. That is, if you order 10 different items and we are out of stock on 1 of them, we will normally hold the order until we can ship all 10 items at the same time.
                %br
                &mdash; We will attempt to ship all complete orders within one business weekday (Monday through Friday) of receipt. Orders placed on Friday after 12:00 PM will normally ship the following Monday.
                %br
                &mdash; Non-Shippable Products: There are many products listed on our web site that we cannot ship via UPS. If you order one of these products and request UPS shipment we will cancel those items from the order and notify you before shipping. If you then decide to cancel the remaining order there is no penalty or charge.
                %br
                &mdash; Shipping Cost Estimator: We have provided a nifty UPS Shipping Estimate Calculator on our product pages. This is an estimate only, calculated by UPS, based on some assumptions that UPS makes. The UPS Shipping Estimate Calculator does not display any shipping costs that may be incurred for products that require special packaging (because of their dimensions) or HAZMAT packaging (because of their chemical composition.) The actual shipping cost for any order will be prominently displayed during the checkout process, when the order may be cancelled before submission without any penalty or charge.
                %br
                &mdash; Tracking: We will send you the UPS tracking number for your order after shipping to assist you in tracking and estimating arrival time. Visit www.UPS.com for complete information on this free service.
              %p
                %b Acceptance:
                We ship all of our orders "Signature Required." This provides the best protection against undeclared damage, theft or fraud.
              %p
                %b Communication:
                If we have a question, a concern or need clarification of an order or a request we will contact you using the information you have provided us. If we are unable to contact you for an important clarification or decision that may cause a delay in shipping your order.
              %p
                %b Returns:
                We want you to be pleased with your purchase. Please visit our Returns page for complete Returns information.
              %p
                %b Changes to this policy:
                We reserve the right to change this policy without notice, as circumstances and conditions change over time. Changes posted to this page will be in effect immediately.
              
            %p
              %sup
                %a{:onclick => "return toggleMe('hide1')", :href => "#"+@sub2[1]} Show/Hide Section
              
            %h2 Locally Delivery Policy
            #hide2{:style => "display:none"}
              %p This policy covers local delivery via Quality Sprinter vehicles to Houston customers located within 20 miles of 4124 Dayco Street, Houston, TX 77092, as determined by the distance calculated by Google Maps. 


              %h2 Local Delivery Guidelines:
              %p
                %b Distance:
                We will deliver to locations situated up to 20 miles from our store, as determined by the distance that is calculated byGoogle Maps. The physical address for our store is store 4124 Dayso Street, Houston, TX 77092. Deliveries over 6 miles from our store will normally be shipped UPS with the freight charges added to the invoice.
              %p
                %b Timing of Local Deliveries:
                %br
                &mdash; Cut-off: We will attempt to deliver orders received by 10:00 am on the same day that they are placed, but we may not be always be able to accomplish that goal.
                %br
                &mdash; Priority: Deliveries are scheduled on a first-placed, first delivered basis.
                %br
                &mdash; Good Faith Estimates:  We will deliver your order as soon as we can within the guidelines we have established. However, any times given should be considered good-faith estimates and are not promises
                %br
                &mdash; Service goal: Our service goal is safe and timely delivery within the capabilities of our staff and equipment. Our goal is not immediate delivery service sometimes referred to as "Hot Shot" delivery. In situations requiring immediate delivery please make those arrangements with a local delivery service before placing the order and let your salesperson know the details when placing your order. You may also prefer to place the order in will-call for pickup by your own personnel.
              %p
                %b Delivery Fees and Costs:
                %br
                &mdash; Delivery Fee: Orders delivered to an address within 6 miles by our truck totaling $125 or more (net of taxes, fees, and special charges) will have no Delivery Charge. Additional charges may apply, however. Orders totaling less than $125 (net of taxes and fees) will be charged a $10.00 delivery fee.
              %p
                %b Service Availability:
                %br
                &mdash; Days of Operation: Our delivery service is available Monday through Friday.
                %br
                &mdash; Forklift Requirement: For deliveries of substantial weight, such as engines, rear ends, etc. we will require that your receiving staff use your forklift to unload the delivery material. If no forklift is available at the time of delivery we will not deliver the order.

              %p
                %b Delivery Site Requirements:
                %br
                &mdash; Acceptance: You or your authorized agent must accept all deliveries in person by signing our delivery invoice. 
                %br
                &mdash; Discrepancy Reporting: All discrepancies must be noted at time of delivery and must be noted in writing on the delivery invoice. Unless noted at time of delivery, all orders will be invoiced as shown on the delivery invoice.
                %br
                &mdash; Refusal to Deliver: We reserve the right to refuse delivery of any order.
              %p
                %b Changes to this policy:
                We reserve the right to change this policy without notice, as circumstances and conditions change over time. Changes posted to this page will be immediately in effect.
              
            %p
              %sup
                %a{:onclick => "return toggleMe('hide2')", :href => "#"+@sub2[1]} Show/Hide Section
 




          .spacer

          %a{:name => @sub3[1]}
          .section.no-image
            %h1=@sub3[0]
            %p QualitySprinter.com is a parts reseller and makes no claim of association or endorsement by Chrysler LLC, Freightliner or Mercedes Benz.  The trademarks and logos of Sprinter are the sole property of Mercedes Benz and any use does not imply any affiliation with said company. By accessing this site you agree to be bound by the terms and conditions defined within it. If you do not agree to the terms and conditions defined within, do not make a purchase or continue to access any of the pages contained within.
            %p Images displayed within this site are not the actual item(s) you will receive. They are only shown as examples.
